
src/\.vs/

src/packages/

src/Analyzer/bin/

src/Analyzer/obj/

src/Common/bin/

src/Common/obj/

src/CSharpAPI/bin/

src/CSharpAPI/obj/

src/CSharpAPISync/bin/

src/CSharpAPISync/obj/

src/GatewayController/bin/

src/GatewayController/obj/

src/Portal/bin/

src/Portal/obj/

src/SharpML.Recurrent/bin/

src/SharpML.Recurrent/obj/

src/StrategyPlayer/bin/

src/StrategyPlayer/obj/

src/Portal/Portal.csproj.user
